<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="notationDao" class="ru.otus.mpanchuk.dao.NotationDaoImpl">
        <constructor-arg name="filepath" value="spring-homework-01/src/main/resources/file.csv" />
    </bean>

    <bean id="notationService" class="ru.otus.mpanchuk.service.NotationServiceImpl">
        <constructor-arg name="dao" ref="notationDao" />
    </bean>

</beans>
